$font-amsi: 'Amsi-pro', sans-serif;
$font-inter: 'Inter', sans-serif;

$borderGray2: 2px solid hsl(0, 0%, 0%, 5%);
$borderBlue1: 1px solid #0080EF;
$borderBlueLight1: 1px solid #0080EF99;
$borderBlueLight1: 1px solid #007fef42;

$primaryBlue: #0080EF;
$bluishBlack: #32395F;
$primaryGreen: #4BCC83;
$deepPurple: #B008FF;
$tomatoRed: #FF6D6F;
$tomatoRed2: #FF6F61;
$yellow: #FFC335;
$lightBlue: #E8F3FC;
$lightGreen: #D3FFE6;
$lightBlueSecondary: #DAEEFF;
$lightGreen: #06D6A0;

$darkGray: #7C7676;
$darkGray2: #737791;
$lightGray: #F3F4F5;